#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}




#main-containter {
  height: 100%;
  background: url('../img/bg-auth.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

.main-page {
  background-image: url('../img/bg-main.png'), linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: auto;
}

.animate {
  animation: gradientAnimation 240s linear infinite;
}

#account-page {
  height: 100%;
  background: url('../img/b2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

footer {
  margin-top: auto;
}

.bg-footer {
  background-color: #5db470;
}

h1, h2 {
  margin-bottom: 1.5rem;
}

.card-list {
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  background: #dee2e6
}

.card {
  border: none;
  margin-bottom: 0.75rem;
}

.card-list-head {
  display: flex;
  justify-content: space-between;
}

.card:last-child {
  margin-bottom: 0;
}

.stopwatch-container {

  /* display: flex; */
}

.stopwatch-time, .stopwatch-stopped {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px solid #d6d6d6;
  color: #d6d6d6;
  font-size: 4rem;

}

.stopwatch-time {
  background: url('../img/stopwatch-bg.png');
  background-size: cover;

}

.stopwatch-stopped {
  background: url('../img/stopwatch-bg-stopped.jpg');
  background-size: contain;
}

.openPokeball {
  background: url('../img/openPokeball.png');
}

.closedPokeball {
  background: url('../img/closedPokeball.png');
}

.openPokeball, .closedPokeball {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 75%;
}

.task-page {
  transition: background 2s linear;
}


.fade-out {
  transition: 1s ease
}

.stopWatch {
  border: 1rem solid grey;
  background: white;
  border-radius: 1rem;
}

.accountCard {
  background: url('../../assets/img/card.png');
  height: auto;
  object-fit: fill;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(33, 37, 41);
  text-decoration: none;
  text-transform: uppercase;
}

.accountCard:hover {
  margin-left: .5rem;
  margin-top: .5rem;
  transition: .25s ease;
  /* text-decoration: underline; */
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #23d5ab;
  transition: .25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.accountSettingsChats {

  box-shadow:
    0px 0px 0px 4px #828482,
    0px 0px 0px 8px #B2B5B2,
    0px 0px 0px 12px #DADDDA,
    3px 3px 2px 1px rgba(0, 0, 0, 0);

}
